form {
  background-color: rgb(169, 215, 230);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
}
.container {
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
  background-color: cornflowerblue;
}
h1 {
  align-content: center;
  padding-top: 10px;
}
li {
    padding: 10px;
    margin: 5px;
    background: #faebd7;
    
  }
button {
    display: flex, center;
}
img{
  height: 120px;
  width: 120px;
}
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }




